header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-image {
  height: 50px;
}

nav {
  display: flex;
  align-items: right;
  margin-left: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

nav a, .nav-button {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

nav a:hover, .nav-button:hover {
  color: #ffb100;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.nav-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}

.nav-button:hover {
  background-color: #333;
}

.profile-image-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profile-image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 40px;
}
