/* HomePage.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.home-page {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #4F9DAA;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-image {
  height: 40px; /* Adjust height as needed */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FFFFFF;
}

nav li {
  margin-left: 5px;
}

nav a, .nav-button {
  text-decoration: none;
  color: #b2d682;
  font-size: 14px; /* Navbar font size */
}

.nav-button {
  background-color: #94B93D;
  color: #FFFFFF;
  padding: 10px 20px;
  margin: 0 20px;
  cursor: pointer;
  display: inline-block;
  border: none;
}

.button {
  background-color: #94B93D;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px; /* Increased button font size */
  text-decoration: none;
}

.hero {
  padding: 130px 20px 80px;
  background: #D4E0BD;
  color: #152231;
}

.hero h1 {
  font-size: 42px; /* Increased font size */
  margin: 0 0 10px;
}

.hero p {
  font-size: 22px; /* Increased font size */
  margin: 0 0 20px;
  max-width: 800px; /* Added max-width */
  margin: 0 auto 20px; /* Center the paragraph */
}

.content {
  padding: 20px 60px; /* Increase left and right padding */
  background: #E4EADD;
  color: #152231;
}

.content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px; /* Increase padding between sections */
  color: #152231;
}

.content-item img {
  width: 50%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.text-container {
  width: 45%;
  text-align: left;
  color: #152231;
}

.text-container h2 {
  font-size: 28px; /* Increased font size */
}

.text-container p {
  font-size: 20px; /* Increased font size */
}

.features {
  background: #E4EADD;
  padding: 30px 60px 60px; /* Decreased top padding */
  text-align: left;
  color: #152231;
}

.features h2 {
  font-size: 28px; /* Increased font size */
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.feature-item {
  width: 45%;
  margin: 10px 0;
  color: #152231;
}

.features-grid .feature-item:nth-child(even) {
  margin-left: auto; /* Move even items to the right */
}

.feature-item h3 {
  font-size: 24px; /* Slightly increased font size */
  font-weight: bold;
}

.feature-item p {
  font-size: 18px; /* Increased font size */
}

.home-footer {
  padding: 20px;
  background: #4F9DAA;
  color: #152231;
  display: flex;
  align-content: flex-start;
  font-weight: bold;
}

.placeholder {
  background: #152231;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  margin: 5px;
}

.footer-container1 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.footer-container2 {
  width: 60%;
}

.container-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.bottom {
  background: #D4E0BD;
  padding: 30px;
  color: #152231;
}

.login-footer {
  padding: 20px;
  background: #4F9DAA;
  color: #152231;
  display: flex;
  align-content: flex-start;
  font-weight: bold;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.line {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  padding-left: 33%;
  padding-right: 33%;
}

.line::before,
.line::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #152231;
}

.line:not(:empty)::before {
  margin-right: 3px;
}

.line:not(:empty)::after {
  margin-left: 3px;
}

.login-screen {
  background: #E4EADD;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
  padding-top: 130px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 33%;
  padding-right: 33%;
}

.disclaimer {
  padding-left: 33%;
  padding-right: 33%;
  margin-bottom: 200px;
  margin-top: 10px;
}

.login-button {
  background-color: #4F9DAA;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.google-button {
  width: 33%;
  background-color: #4F9DAA;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}