/* StudentAssignments.css */
.assignments-container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    padding-top: 60px;
    background-color: #f9f9f9;
}

.assignment {
    border: 0px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.document {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0px solid #ccc;
    padding: 0px;
    background-color: #e9e9e9;
}

.quiz {
    margin: 0 auto;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    color: black;
    width: 80%;
    height: auto;
}

.start-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.start-button:hover {
    background-color: #212c58;
}