name: FAST Workflow
on: [pull_request]

jobs:
  build: 
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out repo code
        uses: actions/checkout@v4

      - name: Set up Node.js 
        uses: actions/setup-node@v2

      - name: Install dependencies 
        run: |
          npm install

      - name: Build application
        run: npm run build
      
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: dop_v1_d78aa4efe0509ec04328ef490987345715de9789a61b655aea5e71aff54e463f


      
      - name: Modify app.yaml to ensure unique app name
        run: |
          TIMESTAMP=$(date +%Y%m%d%H%M%S)
          APP_NAME="fastapp-$TIMESTAMP"
          echo "Updating app name to $APP_NAME"
          sed -i "s/name: fastapp/name: $APP_NAME/" .do/app.yaml

      - name: Debug - Show modified app.yaml
        run: cat .do/app.yaml

      - name: Deploy to DigitalOcean App Platform
        run: doctl apps create --spec .do/app.yaml

  test:
    needs: build
    runs-on: ubuntu-latest

    steps: 
      # - name: Run tests 
      #   run: npm test


  deploy:
      needs: test
      runs-on: ubuntu-latest
      steps:

        - name: Install doctl
          uses: digitalocean/action-doctl@v2
          with:
            token: dop_v1_174521df722aa55db1b44bf1881524745c30e19a200501f2137e50144c19fcac

        - name: Deploy to DigitalOcean App Platform
          run: |
            doctl apps create --spec .do/app.yaml
